.balleari{
    background-color: deeppink;
    text-align: center;
    border-style: solid;
    border-color: royalblue;
    border-width: 5px;
    padding: 5px;
    border-radius: 5px;

}
.nav-link{
    font-size: 15px;
    color: aqua;
}

.contenitore{
border-style: solid;
width: 70px;
height: 70px;
position: absolute;
top: 200px;
left: 200px;
}

.simbolo{
    font-size: 40px;
}